.container{
    background: #f9f9F9;
    padding: 20px 2% 20px 18%;

}
.large-container{
    padding-left: 8%;
}
@media (max-width:900px) {
    .large-container, .container{
        padding-left: 5%;
        padding-right: 5%;
    }
}